*{
	margin: 0;
	padding: 0;
}
body
{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	
}
ul,li
{
	list-style: none;
}
a
{
	text-decoration: none;
	color: #FFFFFF;
}
html{
	font-size: 16px;
}
/*头部样式设置*/
.header
{
	width: 100%;
	height: 50px;
	background-color: #dd5563;
}
.header .back
{
	display: inline-block;
	width: 15%;
	line-height: 50px;
	font-size: 25px;
	text-align: center;
	margin-left: 10px;
}
.header h3
{
	font-weight: normal;
	display: inline-block;
	width: 50%;
	text-align: center;
	color: #FFFFFF;
	font-size: 25px;
}
/*内容区域样式*/
.main
{
	width: 100%;
	height: auto;
	overflow: hidden;
}
/*背景墙图片样式*/
.main .list-img
{
	height: 250px;
	width: 100%;
	background-color: #373952;
	position: relative;

}
.list-img .iamges
{
	height: 250px;
	width: 100%;
	position: relative;
	background: url(../img/t01675d90ea8e5ce77e.png) no-repeat center center;
}
/*个人信息区域样式*/
.list-img .per-msg
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background:  #373952;
}
/*头像区域样式*/
.list-img .per-msg span
{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #DD5563;
	margin: 15px 15px;
	
}
.list-img .per-msg .fa
{
	line-height: 50px;
	text-align: center;
	font-size: 30px;
}
/*昵称与定位区域信息*/
.list-img .per-msg .nick
{
   display: inline-block;
   margin-top: 10px;
}
.list-img .per-msg .nick p
{
	font-size: 14px;
	color: #FFFFFF;
}
.list-img .per-msg .nick .fa
{
	font-size: 18px;
	margin-right:2px;
}

/*页面主要内容区域列表样式*/
.main .item-list
{
	width: 100%;
	height: 216px;
	/*position: absolute;
	top:300px;*/
	
}
.main .item-list ul li
{
	height: 50px;
	width: 100%;
	line-height: 50px;
	padding-left: 20px;
	border-bottom: 1px solid #f3f3f3;
}
/*列表图标样式*/
.main .item-list ul li .circle
{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #fe9e52;
	line-height: 30px;
	margin-right: 5px;
}
/*字体图标样式*/
.main .item-list ul li .fa
{
	text-align: center;
}
.main .item-list ul li a
{
	color: #acadc2;
	font-size: 18px;
}
.main .item-list ul li a i
{
	display: inline-block;
	width: 30px;
}
.main .item-list ul li span
{
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	margin-left: 200px;
}
.main .item-list ul li .fa
{
	color:#acadc2;
}
/*关注按钮区域样式*/
.main .focus
{
	height: 50px;
	width:100%;
	margin-top: 10px;
	margin-left: 25%;
	/*position: absolute;
	top:516px;	*/
}
/*关注按钮样式*/
.main .focus a
{
	display: block;
	width: 50%;
	height: 40px;
	background-color: #DD5563;
	line-height: 40px;
	text-align: center;
	border-radius: 10px;
}
